* {
  font-family: sans-serif;
}

table {
  border-spacing: 0;
  text-align: left;
}

th,
td {
  padding: .5rem 1rem;
}

table tr:nth-child(even) {
  background-color: lightgray;
}

h2,
p {
  margin-left: 1rem;
}

h2 {
  border-top: 6px solid ghostwhite;
  padding-top: 1rem;
}

div {
  border-top: 3px solid ghostwhite;
}